<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for movie in movie_list %}
        <img src="{{ movie.poster.url }}" alt=""><br>
        <a href="{{ movie.get_absolute_url }}" class="editContent" >{{ movie.title }}</a><br>
        <span class="money editContent">{{ movie.tagline }}</span><br><br>
    {% endfor %}                
</body>
</html>


























